<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @bookmark, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :title, 'Title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :note, 'Notes' %>
        <%= f.text_field :note, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :link, 'Link' %>
        <%= f.text_field :link, class: 'form-control' %>
      </div>
      <%= f.submit 'WEBOOOK', class: 'btn btn-warning btn-block' %>
    <% end %>
  </div>
</div>