<div class="media-body">
  <% if current_user.stored?(bookmark) %>
    <%= form_with(model: current_user.keeps.find_by(bookmark_id: bookmark.id), local: true, method: :delete) do |f| %>
      <%= hidden_field_tag :bookmark_id, bookmark.id %>
      <%= f.submit 'Save削除', class: 'btn text-muted' %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.keeps.build, local: true) do |f| %>
      <%= hidden_field_tag :bookmark_id, bookmark.id %>
      <%= f.submit 'Save', class: 'btn link1' %>
    <% end %>
  <% end %>
</div>
